.cd-primary-nav {
   background-color: $color-1;
   margin: 1rem;
   max-width: 50%;
    li {
        padding: 12px;
        border-radius: 0.25em;
        box-shadow: 0 0 1px rgb(5, 5, 5);
        &:hover {
            background-color: lighten($color-1, 10%);
            
        }
        a {
            color: $color-2;
            &:active {
                color: $color-5;
            }
            
        }  
    }
}
.cd-secondary-nav {
    background-color: $color-2;
    margin: 1rem;
    max-width: 50%;
    opacity: 0.8;
    li {
        padding: 12px;
        border-radius: 0.25em;
        &:hover {
            background-color: lighten($color-2, 10%);
        }
        a {
            color: #000000;
           width: 100%;
           &:active {
            color: $color-5;
        }
        }
    }
}

.design-archives {
    padding: 1rem;
    h3{
        margin: 1rem;
    }
    ul {
        display: flex;
        justify-content: space-around;
        a {
            color: $color-2;
            &:hover {
                color: $color-1;
                text-decoration: underline;
            }
        }
        //img {}
            

        
    }
}