.zen{
   
   margin: 1rem;
   max-width: 50%;
    li {
        margin-bottom: 1rem;
        border-radius: 0.25em;
        box-shadow: 0 0 1px rgb(5, 5, 5);
        list-style-image: none;
        &:hover {
            background-color: lighten($color-1, 10%);
            
        }
        a {
            color: black;
            &:active {
                color: $color-5;
            }
            
        }  
    }
}
.design-selection, .zen-resources {
    
    margin: 1rem;
    max-width: 50%;
    text-align: left;
    
    li {
       
        font-size: 1.5rem;
        
        list-style-type: none;
        width: 100%;
        margin: 2rem;
        border-radius: 0.25em;
        &:hover {
            background-color: lighten($color-2, 20%);
        }
        a {
            
            color: #000000;
           width: 100%;
           &:active {
            color: $color-5;
        }
        }
    }
}

.design-archives {
    list-style-image: url(../../assets/branding/sun_25.png);
    padding: 1rem;
    background-color: $color-1;
    ul {
        display: flex;
        justify-content: space-around;
        a {
           
            font-size: 1.8rem;
            color: black;
            &:hover {
                color: $color-2;
                text-decoration: underline;
            }
        }
        //img {}
            

        
    }
}