$color-1: #2f637b; // Cornflower Blue - Action color
$color-2: #EDAA58; // gold
$color-3: #000; // dark grey
$color-4: #e6e6e6; // light grey
$color-5: #fff; // white
$color-6: #614524; // dark brown
$color-1-opacity: rgba(76, 160, 199, 0.5);
$color-2-opacity: rgb(224, 160, 83, .5);

