*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
    font-family: $primary-font;  
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    list-style-image: url(../../assets/branding/sun_25.png);
}


.intro {
    grid-area: intro;
}

.main {
    grid-area: main;
    background-image: url(../../assets/images/cloudbody.jpg);
}

.banner {
    grid-area: banner;
}

.summary {
    grid-area: summary;
}

.preamble {
    grid-area: preamble;
}

#zen-intro::before {
    content: url(../../assets/branding/sun_100.png);
    grid-area: zen;
}

.sidebar {
    grid-area: side;
    background-color: $color-2;
}

.zen-resources {
    background-color: $color-1;
}

//UPDATE!
.intro {
    // display:flex;
    // flex-flow: row wrap;
    display:grid;
    grid-template-columns: 100px 1fr 2fr;
    grid-template-areas: 
    "zen banner summary"
    "preamble preamble preamble";
  	background-image: url(../../assets/images/sunset_1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}


.summary {
    color: $color-5;
  }
  
.preamble {
    color: $color-5;
}



.requirements {
    background-color: $color-1-opacity;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/sunset_2.jpg);
    height: 150px;
}

//UPDATE
@include phone {
 

}

//UPDATE
@include desktop {

    .page-wrapper {       
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "intro intro"
        "main side"  
    }

    .main{
       background-attachment: fixed;
    }   

}