*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
    font-family: $primary-font;  
}

a {
	text-decoration: none;
}

header {
    grid-area: banner;
    margin-top: 4rem;
    @include MQ(L){
        margin-left: 5rem;
    }    
}

.page-wrapper{
    background-image: url(../../assets/images/cloudbody.jpg);

     @include MQ(L) {
        display:grid;      
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "intro intro"
        "main side";    
    }
 }

 .intro {

    @include MQ(S){
        background-image: url(../assets/images/sunset_1_small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include MQ(L){
        grid-area: intro;
        display:grid;
        grid-template-columns:  1fr 25%;
        grid-template-areas: 
        "banner zen"
        "summary summary"
        "preamble preamble";
        background-image: url(../../assets/images/sunset_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
 }
 
.summary {
    grid-area: summary;
    background-color: $color-1;

    @include MQ(L){
        margin: -2rem 38% 2rem 5rem;
    }
}

.preamble {
    grid-area: preamble;
    background-color: $color-5;
    
    @include MQ(L){
        margin: 0rem 38% 5rem 5rem;
    } 
}

.explanation, .participation, .benefits, .requirements {
    background-color: $color-5;

    @include MQ(L){
        margin: 5rem;
    }
}

 .sidebar {
    grid-area: side;
    background-color: $color-2-opacity; 
    
    @include MQ(L) {
        .sidebar {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}

.zen-resources {
    background-color: $color-1;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: $color-1-opacity;
    min-height: 150px;
}

@include MQ(L){
    .main {
        grid-area: main;
        background-attachment: fixed;
    }
     
    #zen-intro::after {
        content: url(../assets/branding/sun_250.png);
        grid-area: zen;
    }    
}