*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
    font-family: $primary-font;  
}

// small view little margin, large view no margin
html,
body {
    margin: 5px;
    @include MQ(L) {
        margin: 0;
    }
}

a {
	text-decoration: none;
}

ul {
    font-family: $primary-font;
}

.page-wrapper{

    background-image: url(../../assets/images/AdobeStock_247234683.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
     @include MQ(L) {
        display:grid;      
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "intro intro"
        "main side";       
    }
 }

 .intro {

    grid-area: intro;

    @include MQ(S){
        background-image: url(../assets/images/sunset_1_small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include MQ(L){
        grid-area: intro;
        display:grid;
        grid-template-columns:  2fr 1fr;
        grid-template-areas: 
        "banner zen"
        "summary zen"
        "preamble zen";
        background-image: url(../../assets/images/sunset_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
 }

 header {
    grid-area: banner;

    @include MQ(S){ 
        margin-left: 1rem;
        margin-bottom: 4rem;
          
        h1 {
            font-family: $primary-font;
            color: $color-5;
            font-size: 3rem;
        }
        h2 {
            font-family: $secondary-font;
            color: $color-1;
            font-size: 2rem;
            margin-top: -1rem;
        }

    }
    @include MQ(L){
        margin: 5rem;
        
        h1 {
            font-family: $primary-font;
            color: $color-5;
            font-size: 8rem;
        }
        h2 {
            font-family: $secondary-font;
            color: $color-1;
            font-size: 4rem;
            margin-top: -3rem;
        }
    }
}

@include MQ(L){
    #zen-intro::after {
        content: url(../../assets/branding/sun_250.png);
        display: flex;
        justify-content: center;
        grid-area: zen;
        animation: garden-grow 7s forwards ease-in;   
    }

    @keyframes garden-grow {
        from {
            opacity: 0;
            transform: scale(0);
        }

        to {
            opacity: 1;
            transform: scale(100%);
        }
    }
}

 
.summary {

    grid-area: summary;

    @include MQ(L){
        margin:1rem 5rem 1rem 5rem;
    }
}

.preamble {
    grid-area: preamble;

    @include MQ(L){
        margin:1rem 5rem 5rem 5rem;
    } 
}


.explanation, .participation, .benefits, .requirements, .preamble, .summary {
    background-color: $color-5;
    padding: 2rem;
    margin-bottom: 10rem;
}

 .sidebar {
    grid-area: side;
    background-color: $color-2-opacity; 
    color: black;

    @include MQ(L) {
        margin-left: 2rem;
        margin-right: 2rem;
        opacity: 0;
        animation: fade-in 2s forwards ease-in;
        
    }
}

div.wrapper {
    padding: 1rem;
}

h3 {
    font-family: $secondary-font;
     text-align: left;
     padding: .5rem;
     color: $color-1;
     font-size: 3rem;

     @include MQ(L) {
         margin-left: 50px;
     }
 }


@keyframes fade-in {
 from {
     opacity: 0;
 }

 to {
     opacity: 1;
 }
}


footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: $color-1-opacity;
    min-height: 150px;
}

@include MQ(L){
    .main {
        grid-area: main;
        background-attachment: fixed;
    }
}