body {
	font-size: 1.6rem;
    font-family: $primary-font;
    
}
.main{
    background-image: url(/assets/images/cloudbody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
//dark blue fixed section
.supporting{

}